<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.example.diceroller" />
        <package android:name="com.example.colormyviews" />
        <package android:name="com.example.aboutme" />
        <package android:name="com.example.titlefragments" />
        <package android:name="com.example.helloworld" />
        <package android:name="com.example.android.navigation" />
        <package android:name="com.example.android.dessertpusher" />
        <package android:name="com.example.android.guesstheword" />
        <package android:name="com.example.android.trackmysleepqualityrecyclerview" />
        <package android:name="com.example.android.marsrealestate" />
        <package android:name="com.example.android.devbyteviewer" />
        <package android:name="com.example.android.gdgfinder" />
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCentralPlatformApp"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyCentralPlatformApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>